fastapi==0.95.1
uvicorn==0.22.0
sqlalchemy==1.4.46
databases==0.5.5
mysql-connector-python==8.0.33
python-multipart==0.0.5
passlib[bcrypt]==1.7.4
alembic==1.7.7
python-dotenv==0.21.0
gunicorn==20.1.0
pydantic[email]
bcrypt==3.1.7
fastapi-socketio
mediapipe==0.9.1  # 버전을 0.9.1로 낮춰서 해결 시도
tensorflow-cpu==2.12.0
joblib==1.2.0
pandas==2.0.3
opencv-python==4.7.0.72
python-socketio==5.7.2
scikit-learn==1.2.2
numpy==1.22.4  # tensorflow-cpu에 맞는 버전
setuptools==58.0.4
openpyxl==3.1.2  # openpyxl 추가


